@import url("reset.css");

.header{
    background: rgb(247, 131, 179);
    color: #fff;
    padding: 20px 0;
    margin-bottom: 40px;
}

.header .container{
    font-size: 0;
}

.logo, .search {
    width: 100px;
}

.logo a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.logo, .menu, .search {
    font-size: 16px;
    display: inline-block;
}


.menu{
    font-size: 0;
    width: 1000px;
    text-align: center;
    color:#fff;
}

.menu li  {
    display: inline-block;
    font-size: 16px;
}

.menu li + li  {
    margin-left: 30px;
}

.menu li a {
    display: inline-block;
    font-size: 16px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}
.menu li a.active {
    color: aqua;
}

.search button {
    width: 100%;
    color:#fff;
    padding: 4px 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
}


.container{
    width: 1200px;
    margin: 0 auto;  
}

.box{
    font-size: 0;
}

.child, .table-c{
    display: inline-block;
    width: 400px;
    background: violet;
    font-size: 20px;
    vertical-align: middle;
}

.child{
    height: 400px;
    overflow: auto;
}

.table-c{
    display: table-cell;
    background: rgb(214, 21, 150);
    vertical-align: top;
}

.child + div{
    background: rgb(240, 158, 240);
}

.child + div + div{
    background: rgb(240, 188, 240);
}



.text-center{
    text-align: center;
}

h1{
    font-size: 35px;
    padding: 10px;
}



.child-card{
    padding: 20px;
    
}